
  <!-- ################################################################################################ -->
  <div class="wrapper row0">
    <div id="topbar" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <div class="fl_left">
        <ul class="nospace">
          <li><a href="#"><i class="fa fa-lg fa-home"></i></a></li>
          <li><a href="{{ path('about') }}">Nosotros</a></li>
          <li><a href="{{ path('contact') }}">Contacto</a></li>
          <li><a href="{{ path('login') }}">Intranet</a></li>
          <li><a href="{{ path('signup') }}">Registrate</a></li>
        </ul>
      </div>
      <div class="fl_right">
        <ul class="nospace">
          <li><i class="fa fa-phone"></i> +511 (01) 345 3768</li>
          <li><i class="fa fa-envelope-o"></i> info@agorapopular.com</li>
        </ul>
      </div>
      <!-- ################################################################################################ -->
    </div>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row1">
    <header id="header" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <div id="logo" class="fl_left">
        <h1><a href="{{path('homepage')}}">AGORA POPULAR</a></h1>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li class="active"><a href="{{ path('homepage') }}">Inicio</a></li>
          <li><a class="drop" href="#">Contenido</a>
            <ul>
              <li><a href="{{ path('gallery') }}">Ágora en Imágenes </a></li>
              <li><a href="{{ path('press') }}">Prensa</a></li>
              <li><a href="{{ path('activity')}}">Eventos</a></li>
              <li><a href="{{ path('magazine') }}">Revista del Ágora Popular</a></li>
              <li><a href="{{ path('forum') }}">Foro</a></li>
              <li><a href="{{ path('apps') }}">Apps y Herramientas</a></li>
            </ul>
          </li>
          <li><a class="drop" href="{{ path('search') }}">Busqueda</a>
            <ul>
              <li><a href="#">Conversatorios</a></li>
              <li><a href="#">Ensayos y Artículos</a></li>
              <li><a class="drop" href="#">Temas</a>
                <ul>
                  <li><a href="#">Historia prehispánica</a></li>
                  <li><a href="#">Economía política</a></li>
                  <li><a href="#">Derecho</a></li>
                  <li><a href="#">Ingeniería</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="{{ path('press') }}">Prensa popular</a></li>
          <li><a href="{{ path('apps') }}">Apps</a></li>
        </ul>
      </nav>
      <!-- ################################################################################################ -->
    </header>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->