{% extends 'base.html.twig' %}

{% block title %}
    Agora | Galeria
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link href="{{asset('public/simpleviewer_2.3.2/web/svcore/css/simpleviewer.css')}}" rel="stylesheet" type="text/css" media="all">
{% endblock %}

{% block body %}
<div class="bgded overlay">
<!--<div class="bgded overlay" style="background-image:url({{asset('public/images/demo/backgrounds/01.png')}}"> -->
{{ parent() }}
{#{{ include ('menu2.html.twig') }}#}
  <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->

    <div style="text-align: center;">
      <h3>Casual day</h3>
      <a onclick="show([1]);"><img src='https://lh3.googleusercontent.com/foHzPW-4BLBlFb6p8VyeJB4yZk2gmNEd0Ze8VNS7mt1eFi76HSATT_hmyLjEGRIHcPEeIQ5vJiBnBUyXaQItb5w9UwtS-2PiP2Z1372X7N5h9moiDlJ7OE7BynE-UQ1QaLmtQ0JYgA=w200' /></a>
    </div>

    <div id="1" style="display:none"> 

      <ins class="pa-widget-gallery" style="width:100%; height:480px;"
        data-url="https://photos.app.goo.gl/xncCW3n9LcSumJM33"
        data-uid="297005fcf85f8e04e5d4f8638523144f7aa5fa4071edffb8cb46975ba4d522fb"
        data-allow-fullscreen="true"></ins>


      <!---<a href="">Estamos trabajando en esto. Disculpa las molestias.</a>-->
      <!-- ################################################################################################ -->
      <!--<nav class="pagination">
        <ul>
          <li><a href="#">&laquo; Previous</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><strong>&hellip;</strong></li>
          <li><a href="#">6</a></li>
          <li class="current"><strong>7</strong></li>
          <li><a href="#">8</a></li>
          <li><a href="#">9</a></li>
          <li><strong>&hellip;</strong></li>
          <li><a href="#">14</a></li>
          <li><a href="#">15</a></li>
          <li><a href="#">Next &raquo;</a></li>
        </ul>
      </nav>-->
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
{% endblock %}

{% block javascripts %}
  {{ parent() }}

   <script async src="https://www.publicalbum.org/js/pa-ins.min.js"></script>

  <script>
  function show(params) {
      for (i=0; i<params.length; i++) {

        var element = document.getElementById(params[i]);

        if (element.style.display == "block") {
          element.style.display = "none";
        } else {
          element.style.display = "block";
        }
      }
  }

  /*function hide(params) {

      for (i=0; i<params.length; i++) {
        document.getElementById(params[i]).style.display = "none";
      }

  }*/
  </script>

{% endblock %}