{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block body %}
<div class="bgded overlay" style="background-image:url({{asset('public/images/demo/backgrounds/01.png')}}"> 
{{ parent() }}
{{ include ('menu2.html.twig') }}
  <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content"> 
      <!-- ################################################################################################ -->
      <div id="gallery">
        <figure>
          <header class="heading">Gallery Title Goes Here</header>
          <ul class="nospace clear">
            <li class="one_quarter first"><a href="#"><img src="{{ asset('public/images/demo/gallery/01.png')}}" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="{{ asset('public/images/demo/gallery/01.png')}}" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="{{ asset('public/images/demo/gallery/01.png')}}" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="{{ asset('public/images/demo/gallery/01.png')}}" alt=""></a></li>
            <li class="one_quarter first"><a href="#"><img src="{{ asset('public/images/demo/gallery/01.png')}}" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="{{ asset('public/images/demo/gallery/01.png')}}" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="{{ asset('public/images/demo/gallery/01.png')}}" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="{{ asset('public/images/demo/gallery/01.png')}}" alt=""></a></li>
            <li class="one_quarter first"><a href="#"><img src="{{ asset('public/images/demo/gallery/01.png')}}" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="{{ asset('public/images/demo/gallery/01.png')}}" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="{{ asset('public/images/demo/gallery/01.png')}}" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="{{ asset('public/images/demo/gallery/01.png')}}" alt=""></a></li>
          </ul>
          <figcaption>Gallery Description Goes Here</figcaption>
        </figure>
      </div>
      <!-- ################################################################################################ -->
      <!-- ################################################################################################ -->
      <nav class="pagination">
        <ul>
          <li><a href="#">&laquo; Previous</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><strong>&hellip;</strong></li>
          <li><a href="#">6</a></li>
          <li class="current"><strong>7</strong></li>
          <li><a href="#">8</a></li>
          <li><a href="#">9</a></li>
          <li><strong>&hellip;</strong></li>
          <li><a href="#">14</a></li>
          <li><a href="#">15</a></li>
          <li><a href="#">Next &raquo;</a></li>
        </ul>
      </nav>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
</body>
</html>
{% endblock %}