{% extends 'base.html.twig' %}

{% block title %}
    Agora | Galeria
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link href="{{asset('public/simpleviewer_2.3.2/web/svcore/css/simpleviewer.css')}}" rel="stylesheet" type="text/css" media="all">
{% endblock %}

{% block body %}
<div class="bgded overlay">
<!--<div class="bgded overlay" style="background-image:url({{asset('public/images/demo/backgrounds/01.png')}}"> -->
{{ parent() }}
{#{{ include ('menu2.html.twig') }}#}
  <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div id="sv-container" style="width: 100%; height: 100%; position: relative;"> 
      <a href="">Estamos trabajando en esto. Disculpa las molestias.</a>
      <!-- ################################################################################################ -->
      <!--<div class="simpleviewer-mobile-glry cls-mobile sv-generic-device sv-horizental" style="background: rgb(34, 34, 34) none repeat scroll 0% 0%; width: 959px; height: 282px;">
     <div id="cp_widget_574f2be5-9161-4fc3-8825-79578759d29a" >...</div>

      </div>-->
     
      <!--<script type="text/javascript">
      var cpo = []; cpo["_object"] ="cp_widget_574f2be5-9161-4fc3-8825-79578759d29a"; cpo["_fid"] = "AIFAvKOTAy3j";
      var _cpmp = _cpmp || []; _cpmp.push(cpo);
      (function() { var cp = document.createElement("script"); cp.type = "text/javascript";
      cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
      var c = document.getElementsByTagName("script")[0];
      c.parentNode.insertBefore(cp, c); })(); 
      </script>-->
      <!--<noscript>
        <span>Agora</span><span>Conversatorio</span><span>Conversatorio</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 480</span><span>height</span><span> 183</span><span>Conversatorio</span><span>Conversatorio</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 960</span><span>height</span><span> 540</span><span>Conversatorio</span><span>Conversatorio</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 960</span><span>height</span><span> 540</span><span>Conversatorio</span><span>Conversatorio</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 960</span><span>height</span><span> 540</span><span>Conversatorio</span><span>Conversatorio</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 528</span><span>height</span><span> 960</span><span>Conversatorio</span><span>Conversatorio</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 528</span><span>height</span><span> 960</span><span>Conversatorio</span><span>Conversatorio</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 857</span><span>height</span><span> 960</span><span>Conversatorio</span><span>Conversatorio</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 960</span><span>height</span><span> 540</span><span>Conversatorio</span><span>Conversatorio</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 960</span><span>height</span><span> 681</span><span>Conversatorio</span><span>Conversatorio</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 569</span><span>height</span><span> 960</span><span>Conversatorio</span><span>Conversatorio</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 960</span><span>height</span><span> 540</span>
      </noscript>-->


      <!--<div id="gallery">
        <figure>
          <header class="heading">2do Conversatorio</header>
          <ul class="nospace clear">
            <li class="one_quarter first"><a href="#"><img src="{{ asset('public/images/gallery/conversatorio2_0.jpg')}}" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="{{ asset('public/images/gallery/conversatorio2_1.jpg')}}" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="{{ asset('public/images/gallery/conversatorio2_2.jpg')}}" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="{{ asset('public/images/gallery/conversatorio2_3.jpg')}}" alt=""></a></li>
            <li class="one_quarter first"><a href="#"><img src="{{ asset('public/images/gallery/conversatorio2_4.jpg')}}" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="{{ asset('public/images/gallery/conversatorio2_5.jpg')}}" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="{{ asset('public/images/gallery/conversatorio2_6.jpg')}}" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="{{ asset('public/images/gallery/conversatorio2_7.jpg')}}" alt=""></a></li>
            <li class="one_quarter first"><a href="#"><img src="{{ asset('public/images/gallery/conversatorio2_8.jpg')}}" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="{{ asset('public/images/gallery/conversatorio2_9.jpg')}}" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="{{ asset('public/images/gallery/conversatorio2_10.jpg')}}" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="{{ asset('public/images/demo/gallery/01.png')}}" alt=""></a></li>
          </ul>
          <figcaption>Gallery Description Goes Here</figcaption>
        </figure>
      </div>-->
      <!-- ################################################################################################ -->
      <!-- ################################################################################################ -->
      <nav class="pagination">
        <ul>
          <li><a href="#">&laquo; Previous</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><strong>&hellip;</strong></li>
          <li><a href="#">6</a></li>
          <li class="current"><strong>7</strong></li>
          <li><a href="#">8</a></li>
          <li><a href="#">9</a></li>
          <li><strong>&hellip;</strong></li>
          <li><a href="#">14</a></li>
          <li><a href="#">15</a></li>
          <li><a href="#">Next &raquo;</a></li>
        </ul>
      </nav>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
{% endblock %}

{% block javascripts %}
  {{ parent() }}
   <!--<script type="text/javascript" src="{{asset('public/simpleviewer_2.3.2/web/svcore/js/simpleviewer.js')}}"></script>
  <script type="text/javascript">
  simpleviewer.ready(function () {
    simpleviewer.load('sv-container', '100%', '100%', '222222', true);
  });
  </script>-->

  <script type="text/javascript">
      var cpo = []; cpo["_object"] ="cp_widget_574f2be5-9161-4fc3-8825-79578759d29a"; cpo["_fid"] = "AIFAvKOTAy3j";
      var _cpmp = _cpmp || []; _cpmp.push(cpo);
      (function() { var cp = document.createElement("script"); cp.type = "text/javascript";
      cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
      var c = document.getElementsByTagName("script")[0];
      c.parentNode.insertBefore(cp, c); })(); 
      </script>


{% endblock %}