{% extends 'base.html.twig' %}
 
{% block stylesheets %}
{{parent()}}
{% endblock %}

{% block body %}
<div class="bgded overlay" style="background-image:url({{asset('public/images/agora_ban.jpg')}}"> 
{{ parent() }}
    <div id="pageintro" class="hoc clear" style="padding-top:40%"> 
        <!-- ################################################################################################ -->
        <article class="clear">
         <!-- <ul class="nospace clear">
            <li><a href="#"><i class="fa fa-usb"></i></a></li>
            <li><a href="#"><i class="fa fa-google-wallet"></i></a></li>
            <li><a href="#"><i class="fa fa-yelp"></i></a></li>
            <li><a href="#"><i class="fa fa-weibo"></i></a></li>
            <li><a href="#"><i class="fa fa-history"></i></a></li>
          </ul>
          <h2 class="heading">50 Años de cultura.</h2>
          <p>PPk Ladrón.</p>-->
          <footer><a class="btn" href="#">Descubre tu historia</a></footer>
        </article>
        <!-- ################################################################################################ -->
    </div>
  <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="group cta">
      <article class="one_third first"><a href="#"><i class="fa fa-globe"></i></a>
        <h6 class="heading">Ágora Mundo</h6>
        <p>Vel ipsum sit amet odio congue elit est morbi leo&hellip;</p>
      </article>
      <article class="one_third"><a href="#"><i class="fa fa-tripadvisor"></i></a>
        <h6 class="heading">Conoce y Comparte</h6>
        <p>Cras felis ligula ultrices et odio tincidunt eleifend&hellip;</p>
      </article>
      <article class="one_third"><a href="#"><i class="fa fa-ge"></i></a>
        <h6 class="heading">Defensa Cultural</h6>
        <p>Id felis fringilla accumsan nulla vel sollicitudin non&hellip;</p>
      </article>
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row6">
  <div class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="center btmspace-50">
      <h3 class="font-x2 nospace">Revista del Ágora Popular</h3>
      <p class="nospace">Articulos y ensayos en diferentes áreas del saber, con diferentes <a href="#">puntos de vista</a>.</p>
    </div>
    <ul class="nospace group btmspace-50 elements">
      <li class="one_third first btmspace-30">
        <figure><img src="{{asset('public/images/demo/320x240.png')}}" alt="">
          <figcaption><a href="#">Historia del Perú</a></figcaption>
        </figure>
      </li>
      <li class="one_third btmspace-30">
        <figure><img src="{{asset('public/images/demo/320x240.png')}}" alt="">
          <figcaption><a href="#">Economía Política</a></figcaption>
        </figure>
      </li>
      <li class="one_third btmspace-30">
        <figure><img src="{{asset('public/images/demo/320x240.png')}}" alt="">
          <figcaption><a href="#">Realidad nacional</a></figcaption>
        </figure>
      </li>
      <li class="one_third first">
        <figure><img src="{{asset('public/images/demo/320x240.png')}}" alt="">
          <figcaption><a href="#">Geopolítica</a></figcaption>
        </figure>
      </li>
      <li class="one_third">
        <figure><img src="{{asset('public/images/demo/320x240.png')}}" alt="">
          <figcaption><a href="#">Nutrición</a></figcaption>
        </figure>
      </li>
      <li class="one_third">
        <figure><img src="{{asset('public/images/demo/320x240.png')}}" alt="">
          <figcaption><a href="#">Ingeniería</a></figcaption>
        </figure>
      </li>
    </ul>
    <p class="nospace center"><a class="btn" href="#">Volver arriba</a></p>
    <!-- ################################################################################################ -->
    <div class="clear"></div>
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="center btmspace-50">
      <h3 class="font-x2 nospace">Prensa Popular</h3>
      <p class="nospace">Los últimos acontecimientos nacionalñes e internacionales, analizados con la <a href="#">crítica conciente</a> que nos caracteriza.</p>
    </div>
    <div class="group center">
      <article class="one_third first"><a href="#"><img class="btmspace-30" src="{{asset('public/images/demo/320x210.png')}}" alt=""></a>
        <time class="block font-xs" datetime="2045-04-06">6<sup>th</sup> April 2045</time>
        <h2 class="nospace font-x1 bold">Condimentum venenatis</h2>
        <p>Semper neque vestibulum ut porttitor metus suspendisse hendrerit metus et diam gravida vestibulum sed&hellip;</p>
        <p class="nospace"><a href="#">Read More &raquo;</a></p>
      </article>
      <article class="one_third"><a href="#"><img class="btmspace-30" src="{{asset('public/images/demo/320x210.png')}}" alt=""></a>
        <time class="block font-xs" datetime="2045-04-05">5<sup>th</sup> April 2045</time>
        <h2 class="nospace font-x1 bold">Magna vitae pharetra</h2>
        <p>Feugiat porta diam quis fermentum in ullamcorper ex id aliquet cursus justo lectus egestas urna vel tempor&hellip;</p>
        <p class="nospace"><a href="#">Read More &raquo;</a></p>
      </article>
      <article class="one_third"><a href="#"><img class="btmspace-30" src="{{asset('public/images/demo/320x210.png')}}" alt=""></a>
        <time class="block font-xs" datetime="2045-04-04">4<sup>th</sup> April 2045</time>
        <h2 class="nospace font-x1 bold">Donec et ultrices</h2>
        <p>Elit fusce maximus at mi ligula hendrerit cras ornare lorem sed arcu at gravida nulla lacinia nunc id ante rhoncus&hellip;</p>
        <p class="nospace"><a href="#">Read More &raquo;</a></p>
      </article>
    </div>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
    <footer>
        <p>©2016 BGLsoft inc.</p>
    </footer>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
function mouseOver() {
    document.getElementById("dscr").style.display = "none";
}

function mouseOut() {
    document.getElementById("dscr").style.display = "block";
}
</script>
{% endblock %}